<ion-header [translucent]="true">
    
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (click)="findMovie()">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
    
    

    <ion-title>La boutique française</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    
    <h3> Bienvenue sur l'application du site " la boutique française ", vous retrouverez l'ensemble des produits sur cette application</h3>
    </ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
          <p>Tu n'as pas encore séléctionner de produits</p>
          <p>Stp, choisis en un pour le mettre en favori</p>
          
        </ion-card-content>
      </ion-card>
      
    

  
  

  
</ion-content>
